body {
  background-image: url(https://cdn.shopify.com/s/files/1/0741/5507/products/Unfold_mustard_greybackground_med-res_1024x1024.jpg?v=1491314544);
  background-size: cover;
}

header {
  text-align: center;
  padding: 2%;
}

hr {
  background: #2323;
  width: 1000px;
  height: 2px;
}

.logo {
  width: 100px;
  vertical-align: middle;
}

h1 {
  display: inline-block;
  vertical-align: middle;
}

.button {
  text-align: center;
}

main {
  text-align: center;
}

.unread {
  display: inline-block;
  background: yellow;
  width: 35px;
  height: 35px;
  border-radius: 90%;
  margin: 5px;
  line-height: 35px;
}

.email {
  background: grey;
  border: 1px solid black;
  padding: 5px;
  margin: auto;
  width: 60%;
}

.email p {
  display: inline;
}

.read {
  background: white;
}


footer {
  text-align: center;
  padding: 20px;
}
